<div class="window">
<br>
<br>
<br>
<H4>This test form copy of form crc</H4>
<form method="post">
	<div class="form-group"> <!-- Email field !-->
		<label for="email_id" class="control-label">Email</label>
		<input type="email" class="form-control" id="email_id" name="email" placeholder="name@domain.com" value="[email]">
	</div>

	<div class="form-group"> <!-- Name field !-->
		<label for="name_id" class="control-label">Name</label>
		<input type="input" class="form-control" id="name_id" name="name" placeholder="Enter name" value="[name]">
	</div>

	
	<div class="form-group"> <!-- Submit button !-->
		<button type="submit" class="btn btn-primary" formaction="/forms/formCrc/submit" >Submit</button>
		<button type="submit" class="btn btn-primary" formaction="/forms/formCrc/csv" >CSV</button>
		<button type="submit" class="btn btn-primary" formaction="/pages/dashboard" >Dashboard</button>
		<button type="submit" class="btn btn-primary" formaction="/pages/menu" >Menu Test</button>
	</div>	

</form>
</div>