<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link async rel="icon" href="/images/favicon.ico">

    <title>Main page</title>

    <!-- Bootstrap core CSS -->
    <link async href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	

    <!-- Custom styles for this template -->
    <link async href="/vendor/navbar/navbar-top-fixed.css" rel="stylesheet">
    [customCss]
  </head>
  <body>