<h3>Main Menu Page</h3>
<br>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<h5>General forms</h5>
			<a href="/pages/dashboard">Dashboard</a><br>
			<a href="/pages/profile">My profile</a><br>
			<a href="/forms/formcrc/get">Test Form (email, name, buttons)</a><br>
		</div>

		<div class="col-sm-3">
			<h5>Customer info</h5>
			<a href="/forms/customerList/get">Customer List</a><br>
			<a href="/forms/contactForm/get">Contact Form</a><br>
			<a href="/forms/customerRegistration/get">Customer Registration</a><br>
		</div>
		
		<div class="col-sm-3">
			<h5>Development info</h5>
			<a href="/forms/formElementsExamples/">Form Elements Examples</a><br>
			<a href="/forms/webCoreObjects">Web Core Objects and Methods</a><br>
		</div>
	</div>
</div>