    <form class="form-signin" method="post">
      <img class="" src="/img/key.svg" alt="" style="float: left" width="37" height="37">
      <h1 class="h3 mb-3 font-weight-normal">&nbsp;Please sign in</h1>
        [error]
      <label for="inputEmail" class="">Email address</label>
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit" formaction="/forms/signin/login" >Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
